.section-about {
  height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #1d4289;
  color: white;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  gap: 35px;
}

.about-img img {
  border-radius: 30%;
  /* height: 100%;
  width: 100%; */
}
.about-right p {
  text-align: justify;
}

.about-right {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.about-upper {
  display: flex;
  gap: 30px;
}

.card-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
  justify-content: center;
}

.skills li {
  display: flex;
  gap: 10px;
  justify-content: center;
}
